# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/target/
/out/
pom.xml
TacticsAndStrategy.iml
/out/

/ServletWebApp/.mvn/
/ServletWebApp/.gitignore
/ServletWebApp/mvnw.cmd
/ServletWebApp/mvnw
/ServletWebApp/src/test/
/ServletWebApp/src/main/webapp/WEB-INF/web.xml